################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EFApp/EFApp/bin
/EFApp/EFApp/obj/Debug
/EShopApp/.vs
/EShopApp/EShopApp/bin
/EShopApp/EShopApp/obj/Debug
