################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EFApp/EFApp/bin
/EFApp/EFApp/obj/Debug
/EShopApp/.vs
/EShopApp/EShopApp/bin
/EShopApp/EShopApp/obj/Debug
/IdentityApp/.vs
/IdentityApp/IdentityApp/bin
/IdentityApp/IdentityApp/obj/Debug
/IdentityApp/IdentityApp/App_Data/DefaultIdentityConnection_log.ldf
/IdentityApp/IdentityApp/App_Data/DefaultIdentityConnection.mdf
/EFApp/EFApp/App_Data/MySchoolDB_log.ldf
/EFApp/EFApp/App_Data/MySchoolDB.mdf
/MyWcfService/.vs
/MyWcfService/MyWcfService/bin
/MyWcfService/MyWcfService/obj/Debug
/WCFClient/.vs
/WCFClient/packages
/WCFClient/WCFClient/bin
/WCFClient/WCFClient/obj/Debug
/WebApiApp/.vs
/WebApiApp/packages
/WebApiApp/WebApiApp/App_Data
/WebApiApp/WebApiApp/bin
/WebApiApp/WebApiApp/obj/Debug
/WebApplication1
